{% extends 'base.html' %}
{% load static %}

{% block title %}
    О нас | Фонд Ташкент
{% endblock %}

{% block content %}
<div class="content">
    <section id="chigatay">

    <h2>История чигатайского кладбища</h2>
    Бухарско-еврейское кладбище города Ташкента (улица Фаробий, Аллон торкочаси, бывшая улица Чиготай, перекресток Сберкасса) функционирует с 1822 года.<br><br>

    Территория кладбища, за чертой города, была куплена Бухарско-еврейской общиной города Ташкента у местного владельца.<br><br>
    <img src="{% static 'images/kl.jpg' %}" class="img-responsive" alt="Responsive image"> <br>



    В 80-е годы 19 века богатые бухарско-еврейские купцы, по инициативе купца первой гильдии Юсупа (Иосифа) Давыдова, вокруг кладбища, возвели глинобитный забор, возвели красивую входную пешеходную арку из жженого кирпича, благоустроили территорию.<br><br>

    К 30-м годам 20 века кладбище оказалось в черте города. Территория вокруг кладбища была застроена и оказалась окруженным мусульманским жилым массивом.<br><br>

    В 1957 году был куплен соседний земельный участок справа от главной аллеи кладбища. В сборе денег на покупку участка активно участвовали ведущие раввины города Ташкента: мулло Масанэль (Бацанэль) Сачаков и мулло Мани Якубов.<br><br>

    История не сохранила имена всех общественный руководителей кладбища.<br><br>

    Со второй половины 50-х годов 20 века до 1967 года общественным руководителем кладбища стал Ари Бабаханов.<br><br>

    С 1966 года по 1986 год общественными руководителями кладбища были: Якубов Ёшвах (лакам «Калонтар»), Едит Пинхасов, Ильяу-Мани Пинхасов.<br><br>

    Активистами были: Имануэли Кал (лакам «Шапкачи»), Нисон Акилов, Бенсион Увайдов, Бабабеков Абохио, Хиён Бадал, Юрий Муллаев, Абрамов Хаим, Сион Гадаев, Ягудаев Авром-Хаим, Пинхасов Иосиф, Юсупов Шимун, Ибрагимов Ехель, Баратов.<br><br>

    После окончания войны 1941-1945 гг. бухарско-еврейское население города Ташкента увеличивалось как за счет естественного прироста, так и миграции из других городов Средней Азии.<br><br>

    К 1978 году почти вся территория кладбища была использована под захоронения. Остро встал вопрос о расширении  кладбища.<br><br>

    В ответ на письмо Ёшваха Якубова и Абрама Ягудаева в СовМин УзССР, в октябре 1978 года на кладбище прибыла большая комиссия (12 человек). Комиссия решила, что на существующей территории захоронения можно производить до 1981 года. А вопрос расширения кладбища будет рассмотрен дополнительно.<br><br>

    Так как вопрос расширения кладбища Ташгорисполкомом не решался, Ягудаев А.Н. оформил коллективное письмо (100 подписей участников войны и старейшин) в горисполком с просьбой расширить территорию кладбища. В октябре 1982 года председатель Ташгорисполкома Казимов В.А. ответил, что наше кладбище по мере использования земель под захоронения должно быть закрыто и превращено в зеленую зону.<br><br>

    В 1983 году председатель общины синагоги по улице Чкалова Ёшвах Якубов на средства общины купил соседний с кладбищем участок.<br><br>

    В 1986 году, в соответствии с распоряжением СовМин УзССР, «О создании Общественных Советов при кладбищах», был утвержден Общественный Совет при Бухарско-еврейском кладбище города Ташкента. Председателем Совета был назначен завотделом здравоохранения сабир-рахимовского РИКа Атабаев Г.З., заместителем – Бангиев М.Я. В составе Совета были 9 человек, в том числе 4 нееврея. Атабаев Г.З. с пониманием относился к нуждам кладбища и во многом помогал в их решении.<br><br>
    <img src="{% static 'images/monument.jpg' %}" class="img-responsive" alt="Responsive image"> <br>



    В 1987 году на кладбище был воздвигнут монумент памяти погибшим и без вести пропавшим воинам – бухарским евреям в годы войны 1941-1945 гг. Проект монумента был согласован с Художественным советом по архитектуре при правительстве УзССР благодаря усилиям Бангиева М.Я.<br><br>

    В этом же году были приобретены строительные материалы, произведены работы по получению разрешения, проектированию, монтажу и строительства Монумента погибшим и без вести пропавшим в период 1941-1945гг. По проекту  архитектора Исхакбаева Х.А. при участии Бангиева М.Я., Ибрагимова Я.У., Ниязова А.М., Ягудаева А.Н., был построен Монумент погибшим и пропавшим без вести  в период 1941-1945 гг.<br><br>

    Так же были произведены работы по получению разрешения, проектированию, монтажу  и установки Вечного огня к Монументу погибшим и без вести пропавшим в период 1941-1945 гг.<br><br>

    При помощи ныне покойного Акилова Альберта Гавриловича, на кладбище было полностью реставрировано и отремонтировано помещение Аково и установлены фотографии погибших участников ВОВ, проведена система водопроводного водоснабжения всей территории кладбища.<br><br>



    В 1987 году Ягудаев А.Н. добился: включения кладбища в разрабатываемый Генеральный план города Ташкента на 1990-2010гг, сохранения кладбища как мемориальное. Вместе с Управлением гражданского обслуживания, архитектором района, представителем хокимията были определены границы кладбища и его расширения до трех гектаров.<br><br>

    В 1987 году Ягудаев А.Н. согласовал со всеми заинтересованными службами города Ташкента (10 служб) выкопировку из Генплана города Ташкента на 1990-2010гг. с указанием границ расширения кладбища и санитарно-защитной зоны.<br><br>

    В 1988 году территория кладбища была расширена на 1100 кв.метров за счет сноса соседнего домовладения.<br><br>

    Капитально – восстановительному ремонту подлежал забор кладбища по периметру длиною 180 погонных метров.<br><br>

    В 1989 году был утвержден новый состав Совета, председателем стал Бангиев Мошиях Яхиэлович.<br><br>

    В 1989 году по инициативе и проекту Ягудаева А.Н. на кладбище был построен зал площадью 100 кв.метров, высотой  4,25 метра. Строительство произвел Акилов Альберт Гаврилович.<br><br>

    В 1990 году по проекту главного инженера Узоргтехсельстроя  Увайдова  была построена въездная арка.<br><br>

    В 1991 году Давыдов И.Э. на кладбище, рядом с залом создал цветник с мраморной оградой.<br><br>

    В 1993 году был избран и утвержден новый состав Общественного Совета при кладбище:<br><br>

    Ягудаев А.Н.      – председатель<br>
    Ибрагимов Я.Е. – зам.председателя<br>
    Малаев М.Е.       – председатель ревизионной комиссии<br>
    Ниязова М.П.     – бухгалтер-казначей<br>
    Шаломов Д.П.    – член Совета<br><br>

    В 1998 году территория расширена на 1200 кв.метров и благоустроена: завезено было более 1000 куб.метров чистого грунта, возведена подпорная бетонная стена, со стороны улицы построен забор.<br><br>

    В январе 2001 году, в связи с выездом Ягудаева А.Н. в США, был избран новый состав Совета:<br><br>

    Шимонов Б.И. – председатель<br>
    Шакаров З.Х.  – зам.председателя<br>
    Рыбаков И.Х.  – зам.председателя<br>
    Шимунов А.    – член Совета.<br>

     В 2005 году был избран новый состав правления фонда “Ташкент”.<br><br>

    Президент фонда – Роберт Мавашев<br>
    Заместитель          – Пинхасов Борис Ильич<br>
    Заместитель          – Ильяев Абрам Хананович (ныне покойный)<br><br>

    Члены правления:<br>
    Юрий Шамсиев<br>
    Илья Мушеев<br>
    Лидия Борухова<br>
    Юзев Мордухаев<br>
    Арон Аронов<br>
    Юрий Мулаев<br>
    Абрам Натанович Ягудаев<br>
    Эзро Малаков<br>
    Роберт Пинхасов<br>

    В 2010 году с помощью Фараджева Матвея Владимировича, был приобретен ковер размером 6 метров на 3 метра, в помещение Аково.<br><br>

    Было отремонтировано помещение для посетителей.<br><br>

    В 2010 году был произведен ремонт освещения главной аллеи кладбища и проведен отвод внешних ¼ территории кладбища.<br><br>



    В 2010 году на средства членов бухарско-еврейской общины города Ташкента были приобретены и посажены можжевельники, взамен старых и высохших деревьев и осуществляется уход и полив можжевельников.<br><br>

    В 2010 году был организован вывоз мусора с кладбища, скопившийся за три года.<br><br>

    В 2011 году дополнительно были вырублены шесть сухих пустостволовых деревьев, падение которых угрожало целостности рядом стоящих памятников.<br><br>



    В январе 2013 был избран новый состав правления фонда «Ташкент»<br><br>

    Роман Кайков  — Президент<br>
    Бабаханов  Алик – Заместитель<br>
    Исхаков Слава  – Заместитель<br><br>

    Члены  правления<br>
    Ari Iboro — представитель фонда в Ташкенте<br>
    Юрий Хаимов <br>
    Вадим Завулунов<br>
    Эдуард Бабаханов<br>
    Григорий Кайков<br>
    Юрий Исхаков<br>
    Вилиам Кандинов<br>
    Юзеф Мордухаев<br>
    Юрий Кайков<br>
    Захар Ильяич<br>
    Алик Абаев<br>
    Борис Кайков<br>
    Борис Мурадов<br>

    В 2013 году на кладбище Чиготай  в замен разрушенному помещению было построено новое в которое входила комната омывания усопших, новая кладовая и новый туалет.<br><br>

    Было отреставрировано 246 могил. Воздвигнут новый забор из жженного кирпича длиной 114 погонных метров. Были заменены фонари городского освещения на территории кладбища. Вывезено огромное количество строительного мусора. Выпущено 1000 видео дисков о проделанной за 2013 год работы и распространены Ташкентцам живущим в Нью-Йорке, Аризоне и Израиле.<br><br>

    В 2014 году фондом «Ташкент» были установлены 42 новых памятников. Переведены с Арамейского языка надписи на 304 могил и внесены в компьютер. Была произведена большая работа по озеленению и уборке территории кладбища. Фондом  проводятся ежегодные благотворительный вечера на средства которых осуществляются все эти работы.<br><br>

    В настоящее время, кладбище официально находится в ведении Управления Гражданского Обслуживания У.Г.О. хокимията города Ташкента.<br><br>
       </section>

    <section id="tekst">
    <h2>История текстильского кладбища</h2>

    Было организовано и открыто в 1950-1952 годах.<br>
    Основатели и спонсоры кладбища были:<br>
    Чигатай - кладбище<br><br>

    Борухов Соломон Моисеевич<br>
    Мавашев Рахмин Давыдович<br>
    Мушеев Рафаэль Натанович<br>
    Давыдов Сиви (Шехем)<br>
    Бабаев Джура<br>
    Пинхасов Нисонча<br>
     <img src="{% static 'images/chig.jpg' %}" class="img-responsive" alt="Responsive image"> <br>
    В период с 2004-2005 гг. на территории кладбища “ТЕКСТИЛЬ” был произведен снос старого помещения, забора и ворот, началось строительство нового помещения для охраны и посетителей кладбища. А также построена новая комната для провода усопших.<br><br>

    Были установлены новые металлические ворота, построен новый забор. Строительство помещений и забора выполнены из жженого кирпича.<br><br>

    Особая благодарность за активное участие в строительстве помещений, забора и ворот, особая благодарность от фонда “Ташкент” Ибрагимову Гарику.<br><br>

    Особая благодарность члену правления фонда “Ташкент” Мураеву Юре в помощи сбора средств.<br><br>

    При поддержки членов бухарско-еврейской общины города Ташкента и средств фонда Ташкент была приобретена и установлена система отопления в помещении на кладбище.<br><br>

    Был произведен ремонт помещения на кладбище.<br><br>

    При участии Хаимова Юрия Яковлевича и Насимова Сергея Бенционовича были вырублены сухие пустостволовые деревья, падание которых угрожало целостности рядом стоящих памятников, взамен старых и высохших деревьев были приобретены и посажены более 400 можжевельников, третий год осуществляется уход и полив можжевельников.<br><br>

    Чигатай - кладбище<br><br>

    В 2009 году были приобретены материалы, сооружен и установлен навес памяти Екатерины Палвановой и Доры Некталовой при входе на кладбище.<br><br>

    Были приобретены и переданы в дар скамейки и стол на кладбище и установлены под навесом при входе на кладбище.<br><br>
    <img src="{% static 'images/chigat.jpg' %}" class="img-responsive" alt="Responsive image"> <br>

    В 2013 году были отремонтированы 46 могил. Установлены столбы освещения на территории кладбища.<br><br>

    В 2014 году при входе на территорию кладбища был выстроен цветник в центре которого установлена мраморная звезда Давида. Отреставрирована лестница ведущая на верхние карты.<br>
    На территории кладбища постоянно проводятся работы по уборке и озеленению.<br>
    </section>
</div>
{% endblock %}