{% extends 'base.html' %}

{% block title %}
    Контакты | Фонд Ташкент
{% endblock %}

{% block content %}

<div class="content">
{#    <div class="row">#}
{#        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">#}

    </div>
    <img src="" alt="">
    <h1>Контакты</h1>
    <br>
    <h2>Контакты в Нью-Йорке:</h2>

    <h3>Офис:</h3>

    105-04 Metropolitan Ave, <br>
    Forest Hills, NY 11375 <br><br>

    <iframe src="https://www.google.com/maps/d/embed?mid=1zPgrq0po8Tfz2qGkjTWmaDY5mdw" width="80%" height="400px"></iframe>

    <h3>Телефон:</h3> (646) 808-3215 <br><br>

    <h3>Факс:    </h3>      (718) 478-4223 <br><br>

    <h3>E-Mail: </h3>charityfundtashkent@gmail.com <br><br>

    Алик Бабаханов      — (917) 202-1223 <br>

    Вячеслав Исхаков  — (917) 670-5665 <br>

    Григорий Кайков   — (917) 903-3458<br><br>

    <h3>Президент фонда: </h3> Роман Кайков <br><br><br>

    <h2>Контакты в Ташкенте:</h2>

    Ари Иборо         — +998 (90) 941-6288<br>

    Юрий Хаимов  — +998 (94) 658-0538<br></p>

{#</div>#}
{#</div>#}

{% endblock %}