{% extends 'base.html' %}
{% load static %}

{% block title %}
    Галерея | Фонд Ташкент
{% endblock %}

{% block content %}

    <div class="entry">
        <h3>Галерея</h3>
        <img src="{% static 'img/img1.jpg' %}" width="180" height="140" onclick="changeSizeImage(this)"/>
        <img src="{% static 'img/img2.jpg' %}" width="180" height="140" onclick="changeSizeImage(this)"/>
        <img src="{% static 'img/img3.jpg' %}" width="180" height="140" onclick="changeSizeImage(this)"/>
        <img src="{% static 'img/img4.jpg' %}" width="180" height="140" onclick="changeSizeImage(this)"/> <br> <br>

        <h3>Видео</h3>
        <div class="myvideo">
            <iframe width="560" height="305" src="https://www.youtube.com/embed/E7YgqGiXhrA" frameborder="0"
                    allowfullscreen></iframe>
        </div>
        <div class="myvideo">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/S8GUAo6w-_E" frameborder="0"
                    allowfullscreen></iframe>
        </div>
        <div class="myvideo">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/xrhODjc1oi4" frameborder="0"
                    allowfullscreen></iframe>
        </div>
        <div class="myvideo">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/v-RrlcgswBA" frameborder="0"
                    allowfullscreen></iframe>
        </div>
        <div class="myvideo">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/JgcZfhV6buA" frameborder="0"
                    allowfullscreen></iframe>
        </div>
        <h3>
            <center> Чигатайское кладбище</center>
        </h3>
        <div class="myvideo">
            <iframe width="200" height="150" src="https://www.youtube.com/embed/s9EKaO4grQE" frameborder="0"
                    allowfullscreen></iframe>
        </div>
        <div class="myvideo">
            <iframe width="200" height="150" src="https://www.youtube.com/embed/ayg5pqTJcQM" frameborder="0"
                    allowfullscreen></iframe>
        </div>
        <div class="myvideo">
            <iframe width="200" height="150" src="https://www.youtube.com/embed/er7mSV1kqqg" frameborder="0"
                    allowfullscreen></iframe>
        </div>
        <div class="myvideo">
            <iframe width="200" height="150" src="https://www.youtube.com/embed/Kdjtz5-RK38" frameborder="0"
                    allowfullscreen></iframe>
        </div>
        <div class="myvideo">
            <iframe width="200" height="150" src="https://www.youtube.com/embed/jId-ag6hOCc" frameborder="0"
                    allowfullscreen></iframe>
        </div>
        <div class="myvideo">
            <iframe width="200" height="150" src="https://www.youtube.com/embed/6_cGTZt3XE4" frameborder="0"
                    allowfullscreen></iframe>
        </div>
        <div class="myvideo">
            <iframe width="200" height="150" src="https://www.youtube.com/embed/JYPIa3iLtCE" frameborder="0"
                    allowfullscreen></iframe>
        </div>
        <div class="myvideo">
            <iframe width="200" height="150" src="https://www.youtube.com/embed/84J8OijQ6ak" frameborder="0"
                    allowfullscreen></iframe>
        </div>
        <div class="myvideo">
            <iframe width="200" height="150" src="https://www.youtube.com/embed/h3lHxOJz8s0" frameborder="0"
                    allowfullscreen></iframe>
        </div>
        <div class="myvideo">
            <iframe width="200" height="150" src="https://www.youtube.com/embed/FLIZJ-Qdf3I" frameborder="0"
                    allowfullscreen></iframe>
        </div>
        <div class="myvideo">
            <iframe width="200" height="150" src="https://www.youtube.com/embed/BzxDuu7adOY" frameborder="0"
                    allowfullscreen></iframe>
        </div>
        <h3>
            <center>Текстильное кладбище</center>
        </h3>
        <div class="myvideo">
            <iframe width="200" height="150" src="https://www.youtube.com/embed/0fTMcLs0Vsg" frameborder="0"
                    allowfullscreen></iframe>
        </div>
        <div class="myvideo">
            <iframe width="200" height="150" src="https://www.youtube.com/embed/zX50iI-dojw" frameborder="0"
                    allowfullscreen></iframe>
        </div>
        <div class="myvideo">
            <iframe width="200" height="150" src="https://www.youtube.com/embed/u_tTMXCxAc8" frameborder="0"
                    allowfullscreen></iframe>
        </div>

    </div>
{% endblock %}