{% extends 'base.html' %}

{% block title %}
    Партнеры | Фонд Ташкент
{% endblock %}

{% block content %}
    <div class="content">
        <article>
            <h2><a href="http://www.kokand.chp.uz/" target="_blank">Фонд Коканд</a></h2>
            <p>Благотворительный фонд «Коканд» — организация, занимающаяся благоустройством и уходом за Еврейским
                кладбищем города Коканда.</p>
        </article>

        <article>
            <h2><a href="http://samarkandfund.org/" target="_blank">Фонд Самарканд</a></h2>
            <p>Благотворительный фонд «Самарканд» — организация, занимающаяся благоустройством и уходом за кладбищами
                Самарканда.</p>
        </article>

        <article>
            <h2><a href="http://www.bjews.info/" target="_blank">Фонд Бухара</a></h2>
            <p>Благотворительный фонд “Бухара” — организация, занимающаяся благоустройством и уходом за Еврейским
                кладбищем города Бухара.</p>
        </article>

        <article>
            <h2><a href="http://namanganfund.org/index.php" target="_blank">Фонд Наманган</a></h2>
            <p>Благотворительный фонд «Наманган»  — организация, занимающаяся благоустройством и уходом за Еврейским
                кладбищем города Наманган.</p>
        </article>

        <article>
            <h2><a href="http://www.fundfergana.com/" target="_blank">Фонд Фергана</a></h2>
            <p>Благотворительный фонд «Фергана»  — организация, занимающаяся благоустройством и уходом за Еврейским
                кладбищем города Фергана.</p>
        </article>
    </div>
{% endblock %}